<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> About Montessari</h1>
    <p> Montessori education strives to nurture each child's natural desire for knowledge, understanding and respect</p>
    <p> Independet thinking and development of a child</p>
  </body>
</html> -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Montessari Kids</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1>Fun Fact </h1>
    <p> Montessori education strives to nurture each child's natural desire for knowledge, understanding and respect.</p>
    <p> Independent thinking and development of a child </p>

    {% endblock %}
  </body>
</html>